body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(201,142,83,1) 43%, rgba(0,212,255,1) 100%);
    margin: 0px;
}
*{
    box-sizing: border-box;
}
.calc-box{
    background-color: rgb(99, 99, 252);
    height: 420px;
    width: 350px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    position: relative;
    box-shadow: 10px 1px 76px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 1px 76px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 1px 76px 0px rgba(0,0,0,0.75);
}
.ins{
    padding-top: 10px;
}
div.display{
    background-color: #eee;
    width: 96%;
    height: 80px;
    margin-left: 2%;
    margin-top: 30px;
    border-radius: 10px;
    color: black;
}
.width-30{
    width:100px;
    height: 50px;
    background-color: white;
    margin: 2%;
    float: left;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}
.width-25{
    width:55px;
    height: 50px;
    background-color: white;
    margin: 2%;
    float: left;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}
.nav-bar{
    background-color: black;
    height: 70px;
    width: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;text-shadow: -3px -7px 19px rgba(246,226,226,0.6);

}
